/* TP_HTML5.css */

body{
	background-color: #cae5ff;
	color: #615d6c;
	text-align: center;
	font-size: 1em;
	font-family: Verdana, Georgia, Trebuchet, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	margin: 0px;
}

h1{
	color: #7796cb;
	text-align: center;
	font-size: 2em;
	line-height: 0.5em;
	font-weight: bold;
}

p{
	text-align: justify;
	line-height: 0.5em;
}

hr{
	margin: 30px auto;
	width: 50%;
	height: 3px;
	background-color: #8C8994;
	border: none;
}

button{
	text-align: center;
	background-color: #615d6c;
	color: #acedff;
	font-size: 1em;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 60px;
	padding-right: 60px;
	margin: 10px;
}

.littleBut{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
}

button:hover{
	background-color: #8C8994;
}
#lien{
	-moz-appearance:button;
	appearance:button;

	text-decoration: none;

	text-align: center;
	background-color: #615d6c;
	color: #acedff;
	font-size: 1em;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 60px;
	padding-right: 60px;
	margin: 10px;
	border-top-color: #dddddd;
	border-left-color: #dddddd ;
	border-bottom-color: #898989;
    border-right-color: #898989;
    border-style: solid;
    border-width: 2px;
}

#lien:hover{
	background-color: #8C8994;

}
#conteneur_body_column{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;

}

.element_conteneur_body{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	text-align: left;
	margin: 5px 20px 5px 20px;
}

.element_column{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	text-align: left;
	margin: 0px 20px 0px 20px;
}

#canvasWebcam, #myImage{
	border: 3px solid #8C8994;
}